.nav-link.active {
  color: #fff !important;
  font-weight: bold;
  border-bottom: 2px solid #0d6efd;
}

.navbar-brand h3 {
  transition: color 0.3s ease;
}

.navbar-brand:hover h3 {
  color: #0d6efd;
}

/* Zapewnia, że menu ładnie wygląda na telefonach */
@media (max-width: 991.98px) {
  .navbar-nav {
    padding: 1rem 0;
  }
  .nav-link {
    padding: 0.5rem 0;
  }
}
