<app-header></app-header>
<div class="container my-4">
  <div class="overflow-hidden">
    @if (isLoading()) {
      <div class="text-center py-5">Trwa ładowanie...</div>
    } @else {
      <div class="row g-3 justify-content-center">
        @for (city of cities(); track city.id_stacji) {
          <div class="col-12 col-sm-6 col-lg-3">
            <a
              [routerLink]="['/station', city.id_stacji]"
              class="btn btn-outline-dark w-100 h-100 d-flex align-items-center justify-content-center py-3 shadow-sm"
            >
              <div class="text-center">
                <span class="d-block fw-bold">{{ city.stacja }}</span>
                <span class="badge bg-secondary" [class]="getTempClass(city.temperatura)">{{ city.temperatura | temperaturePipe }}</span>
              </div>
            </a>
          </div>
        } @empty {
          <div class="col-12 text-center">Brak stacji</div>
        }
      </div>
    }
  </div>
</div>
<app-footer></app-footer>
