/* src/styles.css */
body {
  background-image: linear-gradient(135deg, #e5e9f0 0%, #aabddd 100%); /* Delikatny gradient */
  background-attachment: fixed; /* Tło nie przewija się razem ze stroną */
  min-height: 100vh;
  margin: 0;
  padding-bottom: 80px;
}

.btn:hover{
  background-color: #23586aca;
}

/* Bardzo zimno: poniżej -10 */
.bg-ice { background-color: #003366a2 !important; color: white; }

/* Mroźno: -10 do 0 */
.bg-cold { background-color: #007bffb3 !important; color: white; }

/* Chłodno: 1 do 10 */
.bg-mild { background-color: #20c99695 !important; color: white; }

/* Przyjemnie: 11 do 20 */
.bg-warm { background-color: #ffc10792 !important; color: black; }

/* Ciepło: 21 do 30 */
.bg-hot { background-color: #fd7d148a !important; color: white; }

/* Upał: powyżej 30 (korzystamy z gotowego danger lub robimy własny) */
.bg-danger { background-color: #dc354694 !important; color: white; }
